/* Navigation (menu) styling */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0;
  }
nav li {
    border: 1px;
    width: 300px;
    padding: 0px; 
    margin:  15px;
    background-color: #7c7878c4;
    /* display: inline-block; */ 
}
/* Style each navigation item */
/* nav ul li {
   
    padding: 10px;

  } */
  
  /* Style links in the navigation */
  nav a {
    color: rgb(255, 0, 0);
    display: block;
    padding: 10px;
  }
  
  nav a:hover {
    color: rgb(255, 238, 0);
    background-color: red;
  }
  
  nav a:visited {
    color: rgb(0, 255, 21);
  }
  