
body {
  background-color: #12071F;
  margin: 0 10%;
  font-family:Verdana;
  color:  white;
  
  padding-right: 30px;

  padding-left: 80px;
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
}

nav{
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 1em;
  border-top: 1px solid white;
  
  border-bottom: 1px solid white;
  grid-column: span 6;
  color: white;
  
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;

}

nav a {
  margin: 12px;
  color:  white;
  font-size: 180%;
  transition: background-color 1.0s, width 2.0s, color 2.0s;
}
nav a:hover {
  color: rgb(140, 0, 158); 
 font-size: 2.5em;
}

nav p {
  color:  white;
  font-size: larger;
  padding: 10px;
}

nav li {
  padding: 10px;
}

/*used as a border line to seperate*/

footer{
  border-top: 1px solid white;
}
footer img {
  width: 40px;
  height: 40px;
  margin-left: .5em;
  margin-right: .5em;
}



h2 {
  color: white;
 
}



main {
  font-family: Georgia, serif;
  text-align: justify; 
  padding: 1em;
  grid-column: span 2;
  color : white;

}
/*Each webpage*/

.Socials{
  font-family: Helvetica, sans-serif;
  grid-column: span 6;
  margin: 15px; 
}

.Resource{
  font-family: Helvetica, sans-serif;
  grid-column: span 6;
  margin: 15px; 
}


.Homes{
  font-family: Helvetica, sans-serif;
  grid-column: span 6;
  margin: 15px; 
}

.About{
  font-family: Helvetica, sans-serif;
  grid-column: span 6;
  margin: 15px; 
}
.Projects{
  font-family: Helvetica, sans-serif;
  grid-column: span 6;
  margin: 15px; 
}

.truculenta {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}